absl-py==0.4.1
alabaster==0.7.11
appdirs==1.4.3
apturl==0.5.2
argcomplete==0.8.1
args==0.1.0
astor==0.7.1
astroid==1.6.5
autoflake==0.6.6
autopep8==1.4
Babel==2.6.0
backcall==0.1.0
bandit==1.5.1
bcolz==1.2.1
beautifulsoup4==4.4.1
bleach==2.1.4
blinker==1.3
Brlapi==0.6.4
certifi==2018.8.24
chardet==3.0.4
checkbox-support==0.22
Click==7.0
click-plugins==1.0.4
cligj==0.5.0
clint==0.5.1
cmakelint==1.3.4.1
coala==0.11.0
coala-bears==0.11.1
coala-utils==0.6.7
colorama==0.3.9
colorlog==2.10.0
command-not-found==0.3
cppclean==0.12
cpplint==1.3.0
cryptography==1.2.3
cycler==0.10.0
decorator==4.3.0
defer==1.0.6
defusedxml==0.5.0
dennis==0.9
dependency-management==0.4.0
descartes==1.1.0
Django==2.1.1
docopt==0.6.2
docutils==0.14
entrypoints==0.2.3
eradicate==0.1.6
fastai==0.7.0
feather-format==0.4.0
feedparser==5.1.3
ffmpeg-python==0.1.16
Fiona==1.7.13
Flask==1.0.2
future==0.16.0
gast==0.2.0
geopandas==0.4.0
gitdb2==2.0.4
GitPython==2.1.11
graphviz==0.9
grpcio==1.15.0
guacamole==0.9.2
guess-language-spirit==0.5.3
gunicorn==19.9.0
html-linter==0.3.0
html5lib==1.0.1
httplib2==0.9.1
idna==2.8
imagesize==1.1.0
ipykernel==5.0.0
ipython==7.0.1
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.4
isoweek==1.3.3
itsdangerous==0.24
jedi==0.12.1
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
kiwisolver==1.0.1
language-selector==0.1
lazy-object-proxy==1.3.1
libclang-py3==3.4.0
littleutils==0.2.1
louis==2.6.4
lxml==3.5.0
Mako==1.0.3
mando==0.3.3
Markdown==2.6.11
MarkupSafe==1.0
marshmallow==2.15.4
matplotlib==3.0.0
mccabe==0.6.1
mistune==0.8.3
mizani==0.4.6
munch==2.3.2
munkres3==1.0.5.5
mypy-lang==0.4.6
nbconvert==5.4.0
nbformat==4.4.0
nltk==3.3
notebook==5.7.0
numpy==1.14.5
oauthlib==1.0.3
onboard==1.2.0
opencv-python==3.4.3.18
outdated==0.1.2
packaging==18.0
padme==1.1.1
palettable==3.1.1
pandas==0.23.4
pandas-summary==0.0.5
pandocfilters==1.4.2
parso==0.3.1
patsy==0.5.0
pbr==4.2.0
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.2.0
plainbox==0.25
plotnine==0.4.0
polib==1.1.0
progressbar==2.3
prometheus-client==0.3.1
prompt-toolkit==2.0.5
proselint==0.7.0
protobuf==3.6.1
ptyprocess==0.6.0
pyarrow==0.10.0
pyasn1==0.1.9
pycodestyle==2.4.0
pycups==1.9.73
pycurl==7.43.0
pydocstyle==1.1.1
pyflakes==1.4.0
Pygments==2.2.0
pygobject==3.20.0
PyJWT==1.3.0
pylint==1.9.3
pyparsing==2.2.2
PyPrint==0.2.6
pyproj==1.9.5.1
pyroma==2.2
pyserial==3.4
python-apt==1.1.0b1+ubuntu0.16.4.2
python-dateutil==2.7.3
python-debian==0.1.27
python-gnupg==0.3.8
python-systemd==231
pytz==2018.5
pyxdg==0.25
PyYAML==3.13
pyzmq==17.1.2
qtconsole==4.4.1
radon==1.4.0
reportlab==3.3.0
requests==2.19.1
requests-toolbelt==0.8.0
restructuredtext-lint==1.0.1
rstcheck==2.2
safety==0.5.1
sarge==0.1.5.post0
scikit-learn==0.20.0
scipy==1.1.0
screen-resolution-extra==0.0.0
scspell3k==2.1
seaborn==0.9.0
Send2Trash==1.5.0
sessioninstaller==0.0.0
Shapely==1.6.4.post2
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
sklearn-pandas==1.7.0
smmap2==2.0.4
snark==0.2.5.1
snowballstemmer==1.2.1
Sphinx==1.4.9
sphinx-argparse==0.2.2
sphinx-rtd-theme==0.2.4
sphinxcontrib-websupport==1.1.0
statsmodels==0.9.0
stevedore==1.29.0
system-service==0.3
tabulate==0.8.2
template-remover==0.1.9
tensorboard==1.10.0
tensorflow-gpu==1.10.1
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.1
torch==0.3.1
torchtext==0.2.3
torchvision==0.2.1
tornado==5.1.1
tqdm==4.26.0
traitlets==4.3.2
ubuntu-drivers-common==0.0.0
Ubuntu-Make==16.2.1
ufw==0.35
unattended-upgrades==0.1
unidiff==0.5.5
unity-scope-calculator==0.1
unity-scope-chromiumbookmarks==0.1
unity-scope-colourlovers==0.1
unity-scope-devhelp==0.1
unity-scope-firefoxbookmarks==0.1
unity-scope-gdrive==0.7
unity-scope-manpages==0.1
unity-scope-openclipart==0.1
unity-scope-texdoc==0.1
unity-scope-tomboy==0.1
unity-scope-virtualbox==0.1
unity-scope-yelp==0.1
unity-scope-zotero==0.1
unity-tweak-tool==0.0.7
urllib3==1.23
usb-creator==0.3.0
virtualenv==16.0.0
vulture==0.10
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
wrapt==1.10.11
xdiagnose==3.8.4.1
xkit==0.0.0
XlsxWriter==0.7.3
yamllint==1.6.1
yapf==0.14.0
